---

---

<div class="z-20 overflow-hidden bg-white ">

		<div class="mx-auto">

			<div class="flex flex-col px-6 py-12 space-x-12 md:flex-row">
				<div class="w-full pb-8 md:w-1/2">
					<h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Sing for Hope harnesses the
						power of the arts to create a better world.</h2>
					<p class="mt-6 text-xl leading-8 text-gray-600">Our creative programs bring hope, healing, and
						connection to millions of people in hospitals, care facilities, schools, refugee camps, transit
						hubs, and community spaces worldwide.</p>
					<p class="mt-6 text-base leading-7 text-gray-600">Founded in New York City in 2006, Sing for Hope
						partners with community-based organizations, mobilizes artists in creative service, and produces
						artist-designed Sing for Hope Pianos across the US and around the world.</p>
				</div>
				<div class="w-full md:w-1/2">
					<div class="relative flex">
						<img src="https://sfhmedia.nyc3.digitaloceanspaces.com/2023/05/maxresdefault-e1683864441122.jpg"
							alt=""
							class="lg:w-[42rem] lg:max-w-none rounded-2xl bg-gray-50 object-cover">
					</div>

				</div>
			</div>
			
		</div>


	</div>