---
import Base from '../layout/Base.astro';
const title = 'Sing for Hope';
---

<Base title={title}>
  <div class="mt-3 scroll-smooth">
    <section id="mission" class="mb-5 pt-20 flex min-h-96">
      <h2 class="mb-3">Mission</h2>
      <p class="mb-3">
        Sing for Hope harnesses the power of the arts to create a better world.
        Through dynamic education, healthcare, and global initiatives, we give
        people the power to transform their lives and communities.
      </p>
    </section>

    <section id="board" class="scroll-smooth mb-5 pt-20 flex min-h-96">
      Board
    </section>

    <section id="leadership" class="mb-5 pt-20 flex min-h-96">
      Leadership
    </section>

    <section id-="reports" class="mb-5 pt-20 flex min-h-96">Reports</section>

    <section id="press" class="mb-5 pt-20 flex min-h-96">Press</section>
  </div>
</Base>
