---
import mailchimp from '../mailchimp/client';

let data = []; // Initialize data with an empty array
try {
  const response = await mailchimp.lists.getListMembersInfo("6fbabdedf8");
  if (response.members && Array.isArray(response.members)) {
    data = response.members;
  } else {
    console.log('The response does not contain a members array');
  } 
} catch (error) {
  console.error(`Error: ${error}`);
  data = []; // Set data to an empty array in case of error
}
---


<html>
<body>
<hr>
<br>
    <div class="bg-gray-900 text-white py-16 px-4">
    <div id="newsletterdiv" class="max-w-md mx-auto"> 
    <h2 class="text-3xl font-bold">Subscribe to our newsletter.</h2> 
    <p class="mt-4 text-lg text-gray-300"> 
      Stay up to date with our latest news and products. No spam, we promise! 
    </p> 


    <form id="subscribeForm" class="mt-6 flex">
      <div class="my-3 px-4">
    
        <input 
          type="email" 
          name="email" 
          id="email" 
          class="w-full rounded-md px-4 py-2 mr-4 focus:outline-none focus:ring-2 focus:ring-indigo-500 text-black" 
          placeholder="Enter your email"
          required
        >
      </div>
      <input type="hidden" name="status" value="subscribed">
      <div class="my-3">
        <button 
          type="submit" 
          id="save" 
          class="flex-shrink-0 bg-indigo-500 hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 text-white font-semibold rounded-md px-4 py-2"
        >
            Subscribe
        </button>
      </div>
    </form> 

    


    </div>
    <div>
      <p class="max-w-md mx-auto text-center" id="message"></p>
    </div>

    </div> 
    <br>
<div style={{ display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'center' }}>
  <h1>Display Email in Mailchimp</h1>
  <table style={{marginBottom: '30px'}}>
    <thead>
      <br>
      <tr>
        <th style={{textAlign: 'left'}}>#</th> {/* Add this line */}
        <th style={{textAlign: 'left'}}>Email</th>

      </tr>
    </thead>
    <tbody>
      {
        data.map((list, index) => (
          <tr key={list.id}>
            <td>{index+1}</td> {/* Add this line */}
            <td>{list.email_address}</td>
<td><button type="button" style={{color: 'green', padding: '3px'}}>Edit</button></td>
<td><button type="button" style={{color: 'red', padding: '3px'}}>Delete</button></td>

          </tr>
        ))
      }
    </tbody>
  </table>
  <hr />
</div>



<script>
  const newPostForm = document.querySelector("#subscribeForm") as HTMLFormElement;
  const msgContent = document.querySelector("#message") as HTMLFormElement;
  newPostForm?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(newPostForm);
    const values = Object.fromEntries(formData);
    const res = await fetch("/api/news/subscribe.json", {
      method: "POST",
      body: JSON.stringify(values),
    });
    const { message, status } = await res.json();
    console.log("Message:", message);

    document.getElementById('message').innerHTML = message;
    document.getElementById("newsletterdiv").style.display = 'none';

    // Redirect to /news after 3 seconds
    setTimeout(() => {
      window.location.href = "/news";
    }, 3000);
  });
</script>

</body>
</html>

