---
---

<div class="bg-gray-100 p-0 min-h-[220px]">
    <div class="hero min-h-[220px]" style="background-image: url(https://sfhmedia.nyc3.digitaloceanspaces.com/2022/03/pianogrid.jpg); background-position: bottom center;">
      <div class="hero-overlay bg-opacity-0"></div>
      <div class="hero-content text-center text-white">
        <div class="p-12">
        </div>
      </div>
    </div>
  </div>