---
---

<div class="fixed bottom-3 right-0 left-0 text-black text-lg text-shadow  z-30 w-full flex justify-center items-center">
    <div class="bg-white w-96 rounded-full bg-opacity-0">
        <div class="flex flex-row items-center glass space-x-6 justify-center w-96 py-2 px-12 rounded-full">
            <h3><a href="#overview">Overview</a></h3>
            <h3><a href="#faq">FAQ</a></h3>
            <h3><a href="#programs">Programs</a></h3>
            <h3><a href="#gallery">Gallery</a></h3>
        </div>
    </div>
</div>